In [1]:
import os 
import pandas as pd
import numpy as np
from keplergl import KeplerGl

%load_ext google.cloud.bigquery

In [2]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '../molten-kit-354506-57defdcd41ff.json'

In [3]:
%%bigquery df
SELECT
    *
FROM `molten-kit-354506.sample_gbif_human_interference.sample_uk_br`

Query complete after 0.04s: 100%|███████████████████████████████| 1/1 [00:00<00:00, 674.22query/s]
Downloading: 100%|████████████████████████████████████████| 2792/2792 [00:01<00:00, 1515.79rows/s]

In [4]:
df

,key,publishingCountry,basisOfRecord,scientificName,species,genericName,iucnRedListCategory,decimalLongitude,decimalLatitude,coordinateUncertaintyInMeters,eventDate,recordedBy,country,countryCode,date,invasive,avg_radiance,avg_deg_urban
0,3759772673,US,HUMAN_OBSERVATION,Euphractus sexcinctus sexcinctus,Euphractus sexcinctus,Euphractus,None,-36.349738,-7.412574,15.0,2021-07-24 15:49:00+00:00,Breno Farias,Brazil,BR,2021-07-24,False,0.365102,0.369520
1,3705781582,US,HUMAN_OBSERVATION,Nasua nasua nasua,Nasua nasua,Nasua,None,-35.763686,-9.610963,2.0,2022-02-24 11:01:00+00:00,Daniel Branch,Brazil,BR,2022-02-24,False,8.238597,1.785880
2,3705786594,US,HUMAN_OBSERVATION,Nasua nasua nasua,Nasua nasua,Nasua,None,-35.763839,-9.610738,2.0,2022-02-24 11:02:00+00:00,Daniel Branch,Brazil,BR,2022-02-24,False,8.238853,1.786378
3,3742997066,GB,HUMAN_OBSERVATION,Lutra lutra lutra,Lutra lutra,Lutra,None,-3.130238,51.872786,26132.0,2022-03-15 14:15:06+00:00,Allan Hopkins,United Kingdom of Great Britain and Northern I...,GB,2022-03-15,False,1.383539,0.640507
4,3018149995,GB,HUMAN_OBSERVATION,Phoca vitulina vitulina,Phoca vitulina,Phoca,LC,-2.092998,57.175468,31.0,2021-01-04 11:32:00+00:00,Graeme Baxter,United Kingdom of Great Britain and Northern I...,GB,2021-01-04,False,3.253304,0.953036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2787,3784907780,US,HUMAN_OBSERVATION,"Hydrochoerus hydrochaeris (Linnaeus, 1766)",Hydrochoerus hydrochaeris,Hydrochoerus,LC,-56.158556,-29.983421,NaN,2022-05-13 11:04:41+00:00,João Gava Just,Brazil,BR,2022-05-13,False,0.426939,0.015397
2788,3785094586,US,HUMAN_OBSERVATION,"Hydrochoerus hydrochaeris (Linnaeus, 1766)",Hydrochoerus hydrochaeris,Hydrochoerus,LC,-56.057736,-15.594900,9.0,2022-05-07 06:46:34+00:00,fabiologopro,Brazil,BR,2022-05-07,False,10.338786,2.019763
2789,3802351862,US,HUMAN_OBSERVATION,"Hydrochoerus hydrochaeris (Linnaeus, 1766)",Hydrochoerus hydrochaeris,Hydrochoerus,LC,-47.019398,-22.904189,4.0,2022-05-21 16:41:00+00:00,Nelson Wisnik,Brazil,BR,2022-05-21,False,16.562473,2.087915
2790,3802394161,US,HUMAN_OBSERVATION,"Hydrochoerus hydrochaeris (Linnaeus, 1766)",Hydrochoerus hydrochaeris,Hydrochoerus,LC,-47.043718,-22.885230,4.0,2022-05-23 11:20:00+00:00,Nelson Wisnik,Brazil,BR,2022-05-23,False,17.757781,2.200651
2791,3802611051,US,HUMAN_OBSERVATION,"Hydrochoerus hydrochaeris (Linnaeus, 1766)",Hydrochoerus hydrochaeris,Hydrochoerus,LC,-47.834657,-15.785910,23.0,2022-05-22 17:02:55+00:00,raquelcaet,Brazil,BR,2022-05-22,False,16.516428,1.517373

In [2]:
# Load an empty map
map_1 = KeplerGl()
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl()

In [6]:
map_1#.save_to_html()

KeplerGl()