In [61]:
from noaa_sdk import NOAA
import pandas as pd


df= pd.read_csv("/mnt/Work/PersonalData/Raw/GBIF/Data/Vulpes vulpes_Haliaeetus albicilla_Dama dama_Hydropotes inermis_Capreolus capreolus_Cervus elaphus.csv")

df.head()

,key,scientificName,decimalLatitude,decimalLongitude,issues,datasetKey,publishingOrgKey,installationKey,publishingCountry,protocol,...,institutionID,dynamicProperties,verbatimCoordinateSystem,identificationQualifier,occurrenceRemarks,continent,dataGeneralizations,higherClassification,name,infraspecificEpithet
0,3455694059,"Vulpes vulpes (Linnaeus, 1758)",52.33428,4.544288,cdround,50c9509d-22c7-4a22-a47d-8c48425ef4a7,28eb1a3f-1c15-4a95-931a-4af90ecb574d,997448a8-f762-11e1-a439-00145eb45e9a,US,DWC_ARCHIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Vulpes vulpes (Linnaeus, 1758)",NaN
1,3456244839,"Vulpes vulpes (Linnaeus, 1758)",50.07574,5.903848,cdround,50c9509d-22c7-4a22-a47d-8c48425ef4a7,28eb1a3f-1c15-4a95-931a-4af90ecb574d,997448a8-f762-11e1-a439-00145eb45e9a,LU,DWC_ARCHIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Vulpes vulpes (Linnaeus, 1758)",NaN
2,3456252244,"Vulpes vulpes (Linnaeus, 1758)",52.63241,1.230776,cdround,50c9509d-22c7-4a22-a47d-8c48425ef4a7,28eb1a3f-1c15-4a95-931a-4af90ecb574d,997448a8-f762-11e1-a439-00145eb45e9a,US,DWC_ARCHIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Vulpes vulpes (Linnaeus, 1758)",NaN
3,3468283603,"Vulpes vulpes (Linnaeus, 1758)",51.27157,1.080879,fpwktinv,8898e990-9d39-4871-9e6e-d1031c19e24b,d3dd95c3-93d4-4349-a13f-55abf89ad140,99552c70-f762-11e1-a439-00145eb45e9a,GB,DWC_ARCHIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Vulpes vulpes (Linnaeus, 1758)",NaN
4,3468284637,"Vulpes vulpes (Linnaeus, 1758)",51.32545,1.084490,fpwktinv,8898e990-9d39-4871-9e6e-d1031c19e24b,d3dd95c3-93d4-4349-a13f-55abf89ad140,99552c70-f762-11e1-a439-00145eb45e9a,GB,DWC_ARCHIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Vulpes vulpes (Linnaeus, 1758)",NaN

In [ ]:
n = NOAA()
n.get_forecasts()
res = n.get_forecasts('11365', 'US', type='forecastGridData')
for i in res:
    print(i)

In [ ]:
# results= n.get_observations_by_lat_lon(
#     lat=51.271,
#     lon=-1.230,
    
#     # 40.7314,
#     # -73.8656,
#     # start='2021-01-01',
#     # end='2021-01-10',
#     num_of_stations=100)

results = n.points_forecast(40.7314, -73.8656, hourly= False)

In [56]:
from meteostat import Point, Daily
from datetime import datetime

# Refer : https://dev.meteostat.net/python/point.html#api

In [68]:

date_string = "2012-12-12"
start = datetime.fromisoformat(date_string)
end = datetime.fromisoformat(date_string)

# Set time period
# start = datetime(2022, 6, 11)
# end = datetime(2022, 6, 11)

# Create Point for Vancouver, BC
location = Point(52.33428, 4.544288)

# Get daily data for 2018
data = Daily(location, start, end)
data = data.fetch()

In [71]:
import logging

In [72]:
log = logging.getLogger("my-logger")

In [73]:
log.info("Hello")

[16/Jul/2022 17:10:36] INFO - Hello

In [67]:
date_string = "2012-12-12"
print (datetime.fromisoformat(date_string))

2012-12-12 00:00:00

In [80]:
# pd.DataFrame(results)
len(data.index)

1

In [13]:
from gbif import climate
import logging

In [16]:
c= climate.GetClimateData(log_level=logging.DEBUG)

In [17]:
c.get_interpolated_climate_data(
    lat_deg=52.33428,
    lon_deg=4.544288,
    start_date='2022-01-02',
    end_date='2022-01-02'
)

            tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
time
2022-01-02  10.6   9.6  11.4  11.4   NaN   0.0  36.3  72.0  1010.2   NaN